.markdown h1 {
    font-size: 1.6rem;
}

.markdown h2 {
    font-size: 1.4rem;
}

.markdown h2:first-child {
    margin-top: 0;
}

.markdown h3 {
    font-size: 1.2rem;
}

.markdown p {
    font-size: 1rem;
}

